<!-- /partials/header.ejs -->
<%var selectedStyle = 'background-image:url(..\/images\/selected.jpg);background-position:center;background-repeat:no-repeat;background-size:calc(20px+1vh+1vw)';%>
<header>
  <div class="imagebox" id="logobox">
    <a href="/"><img src="../images/logo.jpg" alt="our logo" id="logo" /></a>
  </div>
  <div class="headerbox" id="concept" <%if (page_name === "concept") {%> style=<%=selectedStyle%> <% }%>>
    <a href="/concept">Concept</a>
  </div>
  <div class="imagebox">
    <img src="../images/stains1.jpg" alt="stains1" class="stains" />
  </div>
  <div class="headerbox" id="localmap" <%if (page_name === "drawings") {%> style=<%=selectedStyle%> <% }%>>
    <a href="/drawings">Drawings</a>
  </div>
  <div class="imagebox">
    <img src="../images/stains2.jpg" alt="stains2" class="stains" />
  </div>
  <%if (username) {%>
    <div class="headerbox">
      <p>Ma peinture : <br/>
      Temporaire : <%=temporary_paint_stock%> L <br/>
      Permante : <%=permanant_paint_stock%> L</p>
    </div>
    <div class="imagebox">
      <img src="../images/stains3.jpg" alt="stains3" class="stains" />
    </div>
    <div class="headerbox">
      <a href="/logout"><%=username%><br/>Logout</a>
    </div>
  <% } else { %>
    <div class="headerbox" id="signin" <%if (page_name === "signin") {%> style=<%=selectedStyle%> <% }%>>
      <a href="/signin">Sign in</a>
    </div>
    <div class="imagebox">
      <img src="../images/stains3.jpg" alt="stains3" class="stains" />
    </div>
    <div class="headerbox" id="login" <%if (page_name === "login") {%> style=<%=selectedStyle%> <% }%>>
      <a href="/login">Log in<%=username%></a>
    </div>
  <%}%>
</header>
